.list-item2 {
  width: 32%;
  font-family: 'Roboto';
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .list-item2 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .list-item2 {
    width: 30%;
    font-size: 12px;
  }
}
.img2 {
  width: 100%;
  object-fit: contain;
}
.flexi2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f2f;
  color: #f1f5f9;
  padding: 10px;
}
.button2 {
  background-color: transparent;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
